div.home {
    margin: 0 auto;

    h2 {
        width: 100%;
        text-align: center;
    }

    .home__slider {
        padding: 0;
        display: flex;
        justify-content: center;

        img {
            height: 300px;
            min-width: 100%;
            object-fit: cover;
            background-position: 80% 50%;

            &.fade {
                -webkit-animation-name: fade;
                -webkit-animation-duration: 1.5s;
                animation-name: fade;
                animation-duration: 1.5s;
            }

            @-webkit-keyframes fade {
                from {
                    opacity: .3
                }

                to {
                    opacity: 1
                }
            }

            @keyframes fade {
                from {
                    opacity: .3
                }

                to {
                    opacity: 1
                }
            }
        }


    }

    .home__counter {
        display: flex;
        justify-self: center;

        span {
            margin: 0 auto;
            font-size: 34px;
            font-weight: bold;
        }
    }

    ul.home__list {
        padding: 0;
        display: flex;
        justify-content: space-between;

    }
}