div.home {
    margin: 0 auto;

    h2 {
        width: 100%;
        text-align: center;
    }

    .home__slider {
        padding: 0;
        display: flex;
        justify-content: center;
     
            img {
                height: 300px;
                min-width: 100%;
                object-fit: cover;
            }
        

    }

    .home__counter {
        display: flex;
        justify-self: center;

        span {
            margin: 0 auto;
            font-size: 34px;
            font-weight: bold;
        }
    }

    ul.home__list {
        padding: 0;
        display: flex;
        justify-content: center;

        li {
            list-style: none;
            max-width: 150px;
            display: flex;
            flex-direction: column;
            padding: 20px 20px 0px 20px;
            margin: 10px;
            border-radius: 5px;
            width: 120px;
            background-color: rgba(222, 222, 222, 0.5);
            box-shadow: 5px 5px 5px #888888;
            text-decoration: none;
            color: #000;
            flex-grow: 1;

            img {
                max-height: 220px;
            }

            h4 {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                align-items: center;
                height: 100%;
            }

            a {
                text-align: center;
                text-decoration: none;
                padding: 10px 20px;
                background-color: #fff;
                border: 2px solid rgba(1, 1, 1, 0.5);
                border-radius: 5px;
                color: #000;
                text-transform: uppercase;
                font-weight: 500;
            }

            span {
                font-weight: bold;

                text-align: center;
                ;
                margin-bottom: 10px;

                .item__price--old {
                    color: red;
                }

                .item__price--new {
                    color: green;
                    font-weight: bold;
                }
            }

            button {
                margin: 5px 0;
            }

            .product__span-alert {
                min-height: 22px;
                margin-bottom: 5px
            }
        }
    }
}