header.menu {
    position: fixed;
    top:0;
    left:0%;
    right: 0%;
    height: 10%;
    display: flex;
    border-bottom: 1px solid #dadada;
    transition: .3s;background: #fff;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 10;
    &.scrolled{
        background-color: white;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, .5);
    }
    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 10px 30px;
        font-family: Roboto;

        span {
            color: #a3d5d2;
        }
    }

    ul.header__nav {
        padding: 0;
        display: flex;
        justify-content: center;
        list-style: none;
        height: 80px;
        margin: 0;
        width: 100%;
height: 100%;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 20px;
            text-transform: capitalize;
            font-family: arial;
            transition: .3s;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #dadada;
                text-decoration: none;
                font-weight: 500;
                font-size: 18px;
                border-bottom: 2px solid transparent;

                svg {
                    font-size: 24px;
                    margin-right: 15px;
                    color: #515050;
                }

                span {
                    color: red;
                    font-weight: bold;
                }
            }

            a.active {
                color: #909090;
            }

            a:hover {
                color: #909090;

            }
        }

        li:last-child {
            margin-left: auto;
            margin-right: 30px;
        }
    }
}
header.scroll{
    background-color: red;
}