section.contentPage {
    .product__wrapper {
        li.bookItem {
            justify-content: flex-start;
           min-height: fit-content;
          
            img{
                width: 300px;
                max-height: unset;
            }
           
            div{
                div.bookItem__rate{display: flex;
                    justify-content: flex-start;
                    flex-direction: column;
                    span{
                        text-align: left;
                    }
                }
                h3{
                    margin-bottom: auto;
                    font-size: 2em;
                }
                >span{
                    margin-bottom: 40px;
                }
                a{
                    margin-bottom: 40px;
                    font-size: 1.5em;
                }
                form{
                    display: flex;
                    button{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0;
                        background-color: #fff;
                        border: none;
                        font-size: 25px;
                        width: fit-content;
                        margin-left: 10px;cursor: pointer;
                        transition:.3s;
                        &:hover{
                            transform: scale(1.15);
                        }
                    }
                }
            }
           
        }
        .verse{
            padding: 0 !important;
        }
    }
}